@model Music
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-6">
        @Html.DropDownList("Music", ViewBag.ListGenres,null,new {@class="form-control", @onchange="getArtists(this.value)"})
    </div>
    <div class="col-6">
        <select id="artists" name="artists" class="form-control"></select>
    </div>
</div>

<script>
    function getArtists(songId) {
        var procemessage = "<option value= '0'>wait...</option>";
        $("#artists").html(procemessage).show();
        var url = '@Url.Action("GetArtistsByGenre", "Test")';

        $.ajax({
            url: url,
            data: {SongId: songId},
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value= '0'>.......</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += '<option value="' + data[x].value + '">' + data[x].text + '</option';
                }
                $("#artists").html(markup).show();
            },
            error: function (response) {
                alert("error:" + response);
            }
        })
    }
</script>
